{% extends "layout.html" %}
{% set page = "ui/range-sliders" %}
{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/node-waves/waves.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/animate-css/animate.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/ion-rangeslider/css/ion.rangeSlider.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/themes/all-themes.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>RANGE SLIDERS</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                EXAMPLES
                                <small>Taken by Ion Range Slider which link is <a href="http://ionden.com/a/plugins/ion.rangeSlider/en.html" target="_blank">ionden.com/a/plugins/ion.rangeSlider/en.html</a></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="irs-demo">
                                <b>Start without params</b>
                                <input type="text" id="range_01" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>Set min value, max value and start point</b>
                                <input type="text" id="range_02" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>Set type to double and specify range, also showing grid and adding prefix "$"</b>
                                <input type="text" id="range_03" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>Set up range with negative values</b>
                                <input type="text" id="range_04" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>Using step 250</b>
                                <input type="text" id="range_05" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>Set up range with fractional values, using fractional step</b>
                                <input type="text" id="range_06" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>Set up you own numbers</b>
                                <input type="text" id="range_07" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>Using any strings as your values</b>
                                <input type="text" id="range_08" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>One more example with strings</b>
                                <input type="text" id="range_09" value="" />
                            </div>
                            <div class="irs-demo">
                                <b>No prettify. Big numbers are ugly and unreadable</b>
                                <input type="text" id="range_10" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/node-waves/waves.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/ion-rangeslider/js/ion.rangeSlider.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/ui/range-sliders.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo.js') }}"></script>
{% endblock %}