{% extends "layout.html" %}
{% set page = "ui/sortable-nestable" %}
{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/node-waves/waves.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/animate-css/animate.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/nestable/jquery-nestable.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/themes/all-themes.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<section class="content">
        <div class="container-fluid">
            <!-- Draggable Handles -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Schema Builder
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="clearfix m-b-20">
                                <div class="dd nestable-with-handle">
                                    <ol class="dd-list">
         {% for val in list %}
                                        <li style="{{ 'display:none' if val['name'] == '__clone' else '' }}" id="{{ val['id'] }}" class="dd-item dd3-item no-nest" data-id="{{ val['name'] }}">
                                            <div class="dd-handle dd3-handle"></div>
                                            <div class="dd3-content">
                                                <input id="ip_text" value="{{ val['name'] }}" style="width: 200px;display:inline;" type="text" class="form-control" />
                                                <select>
                                                    <option value="">-- Please select --</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="40">40</option>
                                                    <option value="50">50</option>
                                                </select>
                                                <div class="btn-group" role="group">
                                                    <button onclick="do_action(this);" type="button" class="btn btn-default btn-circle waves-effect">
                                                        <i class="material-icons">vertical_align_top</i>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-circle waves-effect">
                                                        <i class="material-icons">vertical_align_bottom</i>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-circle waves-effect">
                                                        <i class="material-icons">clear</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
         {% endfor %}
                                    </ol>
                                </div>
                            </div>
                            <b>Output JSON</b>
                            <textarea cols="30" rows="3" class="form-control no-resize" readonly>[{"id":13},{"id":14},{"id":15,"children":[{"id":17},{"id":16},{"id":18}]}]</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Draggable Handles -->
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/node-waves/waves.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/nestable/jquery.nestable.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/ui/sortable-nestable.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<script>
    var item_ct = {{ list|count }};

    function do_action(me) {
        const e = $(me).parents('li.dd-item');
        const clone = $('#__clone').clone();
        clone.css('display', '');
        ++item_ct;
        const name = 'c' + item_ct;
        clone.attr('id', name);
        const child2 = $(clone.find('#ip_text')[0])
        child2.val(name);
        clone.insertBefore(e);
        return false;

    }
</script>
{% endblock %}

