﻿<!DOCTYPE html>
{% set active_page = active_page|default('index') -%}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Bootstrap Based Admin Template - Material Design - Flask Edition</title>
    {% block stylesheets %}
    {% endblock %}
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="{{ url_for('index') }}">ADMINBSB - MATERIAL DESIGN</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICATIONS</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                    <!-- Tasks -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">flag</i>
                            <span class="label-count">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">TASKS</li>
                            <li class="body">
                                <ul class="menu tasks">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Footer display issue
                                                <small>32%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Make new buttons
                                                <small>45%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Create new dashboard
                                                <small>54%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Solve transition issue
                                                <small>65%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Answer GitHub questions
                                                <small>92%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/user.png') }}" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                    <div class="email">john.doe@example.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    {% if 'index' in page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{{ url_for('index') }}">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    {% if 'typography' == page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{{ url_for('typography') }}">
                            <i class="material-icons">text_fields</i>
                            <span>Typography</span>
                        </a>
                    </li>
                    {% if 'helper-classes' == page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{{ url_for('helper_classes') }}">
                            <i class="material-icons">layers</i>
                            <span>Helper Classes</span>
                        </a>
                    </li>
                    {% if 'widgets' in page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">widgets</i>
                            <span>Widgets</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'cards' in page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <span>Cards</span>
                                </a>
                                <ul class="ml-menu">
                                    {% if 'widgets/cards/basic' == page %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="{{ url_for('widgets_cards_basic') }}">Basic</a>
                                    </li>
                                    {% if 'widgets/cards/colored' == page %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="{{ url_for('widgets_cards_colored') }}">Colored</a>
                                    </li>
                                    {% if 'widgets/cards/no-header' == page %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="{{ url_for('widgets_cards_no_header') }}">No Header</a>
                                    </li>
                                </ul>
                            </li>
                            {% if 'infobox' in page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <span>Infobox</span>
                                </a>
                                <ul class="ml-menu">
                                    {% if 'widgets/infobox/infobox-1' == page %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="{{ url_for('widgets_infobox_infobox_1') }}">Infobox-1</a>
                                    </li>
                                    {% if 'widgets/infobox/infobox-2' == page %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="{{ url_for('widgets_infobox_infobox_2') }}">Infobox-2</a>
                                    </li>
                                    {% if 'widgets/infobox/infobox-3' == page %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="{{ url_for('widgets_infobox_infobox_3') }}">Infobox-3</a>
                                    </li>
                                    {% if 'widgets/infobox/infobox-4' == page %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="{{ url_for('widgets_infobox_infobox_4') }}">Infobox-4</a>
                                    </li>
                                    {% if 'widgets/infobox/infobox-5' == page %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="{{ url_for('widgets_infobox_infobox_5') }}">Infobox-5</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {% if 'ui' in page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">swap_calls</i>
                            <span>User Interface (UI)</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'ui/alerts' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_alerts') }}">Alerts</a>
                            </li>
                            {% if 'ui/animations' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_animations') }}">Animations</a>
                            </li>
                            {% if 'ui/badges' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_badges') }}">Badges</a>
                            </li>
                            {% if 'ui/breadcrumbs' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_breadcrumbs') }}">Breadcrumbs</a>
                            </li>
                            {% if 'ui/buttons' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_buttons') }}">Buttons</a>
                            </li>
                            {% if 'ui/collapse' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_collapse') }}">Collapse</a>
                            </li>
                            {% if 'ui/colors' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_colors') }}">Colors</a>
                            </li>
                            {% if 'ui/dialogs' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_dialogs') }}">Dialogs</a>
                            </li>
                            {% if 'ui/icons' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_icons') }}">Icons</a>
                            </li>
                            {% if 'ui/labels' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_labels') }}">Labels</a>
                            </li>
                            {% if 'ui/list-group' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_list_group') }}">List Group</a>
                            </li>
                            {% if 'ui/media-object' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_media_object') }}">Media Object</a>
                            </li>
                            {% if 'ui/modals' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_modals') }}">Modals</a>
                            </li>
                            {% if 'ui/notifications' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_notifications') }}">Notifications</a>
                            </li>
                            {% if 'ui/pagination' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_pagination') }}">Pagination</a>
                            </li>
                            {% if 'ui/preloaders' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_preloaders') }}">Preloaders</a>
                            </li>
                            {% if 'ui/progressbars' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_progressbars') }}">Progress Bars</a>
                            </li>
                            {% if 'ui/range-sliders' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_range_sliders') }}">Range Sliders</a>
                            </li>
                            {% if 'ui/sortable-nestable' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_sortable_nestable') }}">Sortable & Nestable</a>
                            </li>
                            {% if 'ui/tabs' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_tabs') }}">Tabs</a>
                            </li>


                            {% if 'ui/thumbnails' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_thumbnails') }}">Thumbnails</a>
                            </li>


                            {% if 'ui/tooltips-popovers' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_tooltips_popovers') }}">Tooltips & Popovers</a>
                            </li>

                            {% if 'ui/waves' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('ui_waves') }}">Waves</a>
                            </li>
                        </ul>
                    </li>
                    {% if 'forms' in page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">assignment</i>
                            <span>Forms</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'forms/basic-form-elements' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('forms_basic_form_elements') }}">Basic Form Elements</a>
                            </li>
                            {% if 'forms/advanced-form-elements' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('forms_advanced_form_elements') }}">Advanced Form Elements</a>
                            </li>
                            {% if 'forms/form-examples' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('forms_form_examples') }}">Form Examples</a>
                            </li>
                            {% if 'forms/form-validation' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('forms_form_validation') }}">Form Validation</a>
                            </li>
                            {% if 'forms/form-wizard' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('forms_form_wizard') }}">Form Wizard</a>
                            </li>
                            {% if 'forms/editors' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('forms_editors') }}">Editors</a>
                            </li>
                        </ul>
                    </li>
                    {% if 'tables' in page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">view_list</i>
                            <span>Tables</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'tables/editable-table' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('tables_editable_table') }}">Editable Table</a>
                            </li>
                            {% if 'tables/jquery-datatable' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('tables_jquery_datatable') }}">JQuery Data Table</a>
                            </li>
                            {% if 'tables/normal-tables' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('tables_normal_tables') }}">Normal Tables</a>
                            </li>
                        </ul>
                    </li>
                    {% if 'medias' in page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">perm_media</i>
                            <span>Medias</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'medias/image-gallery' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('medias_image_gallery') }}">Image Gallery</a>
                            </li>
                            {% if 'medias/carousel' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('medias_carousel') }}">Carousel</a>
                            </li>
                        </ul>
                    </li>
                    {% if 'charts' in page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">pie_chart</i>
                            <span>Charts</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'charts/morris' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('charts_morris') }}">Morris</a>
                            </li>
                            {% if 'charts/flot' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('charts_flot') }}">Flot</a>
                            </li>
                            {% if 'charts/chartjs' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('charts_chartjs') }}">ChartJS</a>
                            </li>
                            {% if 'charts/sparkline' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('charts_sparkline') }}">Sparkline</a>
                            </li>
                            {% if 'charts/jquery-knob' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('charts_jquery_knob') }}">Jquery Knob</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">content_copy</i>
                            <span>Example Pages</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="pages/examples/sign-in.html">Sign In</a>
                            </li>
                            <li>
                                <a href="pages/examples/sign-up.html">Sign Up</a>
                            </li>
                            <li>
                                <a href="pages/examples/forgot-password.html">Forgot Password</a>
                            </li>
                            <li>
                                <a href="pages/examples/blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="pages/examples/404.html">404 - Not Found</a>
                            </li>
                            <li>
                                <a href="pages/examples/500.html">500 - Server Error</a>
                            </li>
                        </ul>
                    </li>
                    {% if 'maps' in page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">map</i>
                            <span>Maps</span>
                        </a>
                        <ul class="ml-menu">
                            {% if 'maps/google' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('maps_google') }}">Google Map</a>
                            </li>
                            {% if 'maps/yandex' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('maps_yandex') }}">YandexMap</a>
                            </li>
                            {% if 'maps/jvectormap' == page %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{{ url_for('maps_jvectormap') }}">jVectorMap</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">trending_down</i>
                            <span>Multi Level Menu</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="javascript:void(0);">
                                    <span>Menu Item</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span>Menu Item - 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <span>Level - 2</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span>Menu Item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="menu-toggle">
                                            <span>Level - 3</span>
                                        </a>
                                        <ul class="ml-menu">
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span>Level - 4</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {% if 'changelogs' == page %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="/pages/changelogs.html">
                            <i class="material-icons">update</i>
                            <span>Changelogs</span>
                        </a>
                    </li>
                    <li class="header">LABELS</li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="material-icons col-red">donut_large</i>
                            <span>Important</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="material-icons col-amber">donut_large</i>
                            <span>Warning</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="material-icons col-light-blue">donut_large</i>
                            <span>Information</span>
                        </a>
                    </li>
                </ul>
            </div>



            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.4
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>

</html>